<style>
    .available-flight {
        display: block;
        margin: 0.75rem 0;
        padding: 0.5rem;
        background-color: #e5e7eb;
        border: 1px solid #9ca3af;
        border-radius: 0.25rem;
    }

    .available-flight h4 {
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: #4b5563;
    }

    .available-flight .flight-time {
        color: #6b7280;
    }

    .available-flight .flight-price {
        color: #c026d3;
    }

    .available-flight .lozenge {
        padding: 0.125rem 0.5rem;
        background-color: #c026d3;
        border-radius: 0.75rem;
        font-size: 0.75rem;
        line-height: 1rem;
        color: white;
    }

    .unavailable-flight {
        cursor: not-allowed;
        display: block;
        margin: 0.75rem 0;
        padding: 0.5rem;
        background-color: #d1d5db;
        border: 1px solid #6b7280;
        border-radius: 0.25rem;
    }

    .unavailable-flight h4 {
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: #6b7280;
    }

    .unavailable-flight .flight-time {
        color: #9ca3af;
    }

    .unavailable-flight .flight-price {
        color: #dc60ef;
    }

    .unavailable-flight .lozenge {
        padding: 0.125rem 0.5rem;
        background-color: #dc60ef;
        border-radius: 0.75rem;
        font-size: 0.75rem;
        line-height: 1rem;
        color: white;
    }
</style>

<div class="py-4 px-2 bg-fuchsia-800 text-white">
    <h1 class="m-auto text-3xl">a11yJet ✈️</h1>
</div>

<nav class="my-4 py-4 px-2 bg-fuchsia-800 text-white">
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Fly</a>
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Bookings</a>
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Help</a>
</nav>

<main class="my-4 p-2">
    <h2 class="text-xl mb-4">Select a flight</h2>
    <p class="my-2">
    <h3 class="text-lg">July 12th</h3>

    <a href="./skip-to-main-content" class="available-flight">
        <h4>Manchester to Barbados</h4>
        <div class="flight-time">
            <span>07:25</span>
            <span aria-label="9 hours 10 minutes" class="mx-2">9h10</span>
            <span class="lozenge mx-2">direct</span>
            <span class="lozenge">fastest</span>
        </div>
        <div class="flight-price">
            <span>£650</span>
        </div>
    </a>

    <a href="./skip-to-main-content" class="available-flight">
        <h4>Manchester to Jamaica</h4>
        <div class="flight-time">
            <span>07:30</span>
            <span aria-label="10 hours 20 minutes" class="mx-2">10h20</span>
            <span class="lozenge">direct</span>
        </div>
        <div class="flight-price">
            <span>£543</span>
            <span class="mx-2 lozenge">cheapest</span>
        </div>
    </a>

    <div class="unavailable-flight">
        <span class="lozenge">Fully booked</span>
        <h4>
            Manchester to Antigua
        </h4>
        <div class="flight-time">
            <span>17:05</span>
            <span aria-label="12 hours 45 minutes" class="mx-2">12h45</span>
            <span class="lozenge">direct</span>
        </div>
        <div class="flight-price">
            <span>£722</span>
        </div>
    </div>

    <a href="./skip-to-main-content" class="available-flight">
        <h4>Manchester to Jamaica</h4>
        <div class="flight-time">
            <span>17:35</span>
            <span aria-label="10 hours 5 minutes" class="mx-2">10h05</span>
            <span class="lozenge">direct</span>
        </div>
        <div class="flight-price">
            <span>£643</span>
        </div>
    </a>
    </p>
</main>