<div class="py-4 px-2 bg-fuchsia-800 text-white">
    <h1 class="m-auto text-3xl">a11yJet ✈️</h1>
</div>

<nav class="my-4 py-4 px-2 bg-fuchsia-800 text-white">
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Fly</a>
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Bookings</a>
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Help</a>
</nav>

<main class="my-4 p-2">
    <h2 class="text-xl mb-4">Find great value flights to the Caribbean</h2>
    <form action="./contrast">

        <p class="my-4 p-2 border text-red-800 bg-red-100 border-red-400 rounded-md">Oh no! There were problems with the values you provided</p>

        <p class="my-4">
            <label>
                Where are you flying from?
                <select class="border-2 border-fuchsia-800 rounded-md p-2">
                    <option>[GLA] Glasgow</option>
                    <option>[LHR] London Heathrow</option>
                    <option selected="selected">[MAN] Manchester</option>
                </select>
            </label>
        </p>

        <p class="my-4">
            <label>
                Departure date
                <input class="border-2 border-fuchsia-800 rounded-md p-2" value="01/03/2023" placeholder="DD/MM/YYYY" />
            </label>
        </p>

        <p class="my-4">
            <label>
                Return date
                <input class="border-2 border-fuchsia-800 rounded-md p-2" value="10/30/2023" placeholder="DD/MM/YYYY" />
            </label>
        </p>

        <button type="submit" class="bg-fuchsia-800 text-white p-2 rounded-md">
            Find flights
        </button>
    </form>
</main>
