<div class="py-4 px-2 bg-fuchsia-800 text-white">
    <h1 class="m-auto text-3xl">a11yJet ✈️</h1>
</div>

<nav class="my-4 py-4 px-2 bg-fuchsia-800 text-white">
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Fly</a>
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Bookings</a>
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Help</a>
</nav>

<main class="my-4 p-2">
    <p class="my-2">
        Welcome to a11yJet, the airline that's committed to making air travel accessible for everyone.
        Our mission is to provide a comfortable, safe, and enjoyable flying experience for all of our passengers.
    </p>
    <hr class="my-4" />
    <p class="my-2">
        <a href="./input-labels">
            <img class="m-auto" src="/great-caribbean-offers.png">
        </a>
    </p>
    <hr class="my-4" />
    <p class="my-2">
        Whether you're traveling for business or pleasure, a11yJet is the airline of choice for anyone who values accessibility, safety, and exceptional service.
        Book your next flight with us today and experience the difference.
    </p>
</main>
