<div class="py-4 px-2 bg-fuchsia-800 text-white">
    <h1 class="m-auto text-3xl">a11yJet ✈️</h1>
</div>

<nav class="my-4 py-4 px-2 bg-fuchsia-800 text-white">
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Fly</a>
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Bookings</a>
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Help</a>
</nav>

<main class="my-4 p-2">
    <h2 class="text-xl mb-4">Find great value flights to the Caribbean</h2>
    <form action="./form-validation">

        <p class="my-4">
            Where are you flying from?
            <select class="border-2 rounded-md p-2">
                <option>[GLA] Glasgow</option>
                <option>[LHR] London Heathrow</option>
                <option>[MAN] Manchester</option>
            </select>
        </p>

        <p class="my-4">
            Departure date
            <input class="border-2 rounded-md p-2" placeholder="DD/MM/YYYY" />
        </p>
        <p class="my-4">
            Return date
            <input class="border-2 rounded-md p-2" placeholder="DD/MM/YYYY" />
        </p>

        <button type="submit" class="bg-fuchsia-800 text-white p-2 rounded-md">
            Find flights
        </button>
    </form>
</main>
