<div class="py-4 px-2 bg-fuchsia-800 text-white">
    <h1 class="m-auto text-3xl">a11yJet ✈️</h1>
</div>

<nav class="my-4 py-4 px-2 bg-fuchsia-800 text-white">
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Fly</a>
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Bookings</a>
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Help</a>
</nav>

<aside class="bg-fuchsia-300 p-4">
    New: <a class="text-teal-900 underline" href="./out-of-bounds">Check the weather at your destination</a>
</aside>

<main class="my-4 p-2">
    <h2 class="text-2xl mb-2">Your flight is confirmed</h2>
    <p class="mb-4">
        Thank you for choosing to fly with a11yJet for your upcoming trip.
        Your booking has been confirmed and the details of your itinerary are listed below.
    </p>

    <h3 class="text-xl mb-2">Booking</h3>
    <ul class="mb-4">
        <li>Booking reference: MAN-9BD31D-AB9FE21</li>
        <li>Passenger: Fizz Wizzlepop</li>
    </ul>

    <h3 class="text-xl mb-2">Flight</h3>
    <ul class="mb-4">
        <li>Flight number: A11Y-932</li>
        <li>Departing: Manchester, UK 07:25</li>
        <li>Arriving: Christ Church, Barbados 12:35</li>
    </ul>

    <a href="./structure" class="text-blue-800 underline">Terms and conditions</a>
</main>