<div class="py-4 px-2 bg-fuchsia-800 text-white">
    <h1 class="m-auto text-3xl">a11yJet ✈️</h1>
</div>

<nav class="my-4 py-4 px-2 bg-fuchsia-800 text-white">
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Fly</a>
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Bookings</a>
    <a class="mr-6 text-xl underline" href="./out-of-bounds">Help</a>
</nav>

<main class="my-4 p-2">

    <div class="text-2xl mb-1">Your rights</div>
    <div class="text-xl mb-2">Cancellation policy</div>
    <p class="mb-4">
        a11yjet offers both refundable and non-refundable tickets.
        Refundable tickets can be cancelled for a full refund, minus fees.
        Non-refundable tickets can be cancelled for a credit towards another a11yjet flight, subject to a change fee and fare difference.
        To cancel, contact customer service at least 24 hours before departure to avoid cancellation fees.
    </p>
    <div class="text-xl mb-2">Refund policy</div>
    <p class="mb-4">
        If a traveler needs to cancel their flight due to circumstances outside their control, a11yjet offers a more flexible refund policy.
        Refundable tickets can be refunded in full, minus fees.
        For non-refundable tickets, the customer may receive a credit for the value of the ticket, which can be used towards the purchase of another a11yjet flight.
        This credit may not be subject to a change fee or fare difference, and may be valid for a longer period than the standard credit.
        To request a refund, contact customer service with proof of the circumstances that led to the cancellation.
    </p>
    <div class="text-xl mt-2">Amending your booking</div>
    <p class="mb-4">
        Travelers can amend their booking by contacting a11yjet customer service.
        For refundable tickets, there is no penalty or change fee, but there may be a fare difference.
        For non-refundable tickets, there is a fee to amend, and a fare difference may apply depending on the fare type and time between the amendment request and the original travel date.
    </p>

    <div class="text-2xl mb-1">Rules of travel</div>
    <div class="text-xl mb-2">Security rules</div>
    <p class="mb-4">
        All passengers and their baggage are subject to security screening procedures, which may include metal detectors, x-ray machines, and physical searches.
        Passengers are required to remove shoes, belts, and outerwear, and place them in bins for screening.
        All passengers must comply with security rules and regulations at all times, and failure to do so may result in denied boarding, detention, or other legal action.
    </p>
    <div class="text-xl mb-2">Prohibited luggage</div>
    <p class="mb-4">
        Passengers are not allowed to carry any items that could be considered dangerous or potentially harmful, such as firearms, explosives, and flammable liquids or gases.
        Additionally, sharp objects like knives and scissors are not allowed in the cabin and must be stored in checked baggage.
    </p>

    <a href="./passengers.html" class="text-blue-800 underline">Back to booking</a>
</main>